body {
    font-family: "roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.contact:hover,
.contact:focus {
    color: #404BBF
}